@using ViewModels;

@model List<ViewModels.CharacteristicViewModel>

@{
    //ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Characteristic.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
}

<div class="right-align" style="padding: 10px;">
    <button id="addNew" class="button-style">Add New Characteristic</button>
</div>

<div class="row">
    <table id="characteristic">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Status</th>
            <th>Species</th>
            <th>Type</th>
            <th>Gender</th>
            <th>Origin</th>
            <th>Location</th>
            <th>Image</th>
            <th>Episode</th>
            <th>Url</th>
            <th>Created</th>
        </tr>


        @for (var i = 0; i < @Model.Count; i++)
        {
            var no = i + 1;
            var item = Model[i];
        <tr>
            <td>@no</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
            <td>@item.Species</td>
            <td>@item.Type</td>
            <td>@item.Gender</td>
            <td>
                @if (item.Origin != null)
                    {
                <div>@item.Origin.Name</div>
                <div>@item.Origin.Url</div>
                    }
            </td>
            <td>
                @if (item.Location != null)
                    {
                <div>@item.Location.Name</div>
                <div>@item.Location.Url</div>
                    }
            </td>
            <td>@item.Image</td>
            <td>
                @if (item != null && item.Episode != null)
                    {
                        foreach (var episode in item.Episode)
                        {
                <div>@episode.EpisodeUrl</div>
                        }
                    }
            </td>
            <td>@item.Url</td>
            <td>@item.CreatedDisplay</td>
        </tr>
        }
    </table>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../../Scripts/Characteristic.js"></script>
}

